<div class="jan">
    @{
        ViewBag.Title = HotelSite.Resources.Home.HomeName;
    }

    <p>@HotelSite.Resources.Home.Hello</p>
    <div>
     
        <a href="~/Content/Images/foropen.jpg" class="img" id="mek" data-lightbox="roadtrip" >Mek</a>
        <a href="~/Content/Images/home.jpg" class="img" data-lightbox="roadtrip" id="erku">erkus</a>
        <a href="~/Content/Images/Z.jpg" class="img" data-lightbox="roadtrip" id="ereq">Chors</a>
    </div>

</div>