body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
select,
textarea {
    max-width: 280px;
    width: 200px;
    margin: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.23);
    border: none;
    border-radius: 20px;
    outline: 0;
}

.main_container {
    background-image: url('Images/home.jpg');
    height: 100%;
    width: 100%;
    color: #8f7d4c;
    background-attachment: fixed;
}




@import url(http://fonts.googleapis.com/css?family=Patua+One|Open+Sans);

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

table {
    border-collapse: separate;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 50px auto;
    -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

thead {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

    thead th {
        font-family: 'Patua One', cursive;
        font-size: 16px;
        font-weight: 400;
        color: #fff;
        text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
        padding: 13px 20px;
        background-size: 100%;
        background-image: -moz-linear-gradient(rgba(82, 16, 30, 0.45), #4a5564);
        background-image: -webkit-linear-gradient(rgba(82, 16, 30, 0.45), #4a5564);
        background-image: linear-gradient(rgba(82, 16, 30, 0.45), #4a5564);
        border-top: 1px solid #858d99;
    }

        thead th:first-child {
            -moz-border-radius-topleft: 5px;
            -webkit-border-top-left-radius: 5px;
            border-top-left-radius: 5px;
        }

        thead th:last-child {
            -moz-border-radius-topright: 5px;
            -webkit-border-top-right-radius: 5px;
            border-top-right-radius: 5px;
        }

tbody tr td {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 13px;
    padding: 20px 20px 20px 20px;
    border-bottom: 1px solid #e0e0e0;
    width: 17%;
}

tbody tr {
    background: rgba(0, 0, 0, 0.61);
}

    tbody tr:last-child td {
        border-bottom: none;
    }

        tbody tr:last-child td:first-child {
            -moz-border-radius-bottomleft: 5px;
            -webkit-border-bottom-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }

        tbody tr:last-child td:last-child {
            -moz-border-radius-bottomright: 5px;
            -webkit-border-bottom-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }

tbody:hover > tr:hover td {
    text-shadow: none;
    background-color: rgba(103, 103, 103, 0.53);
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
}

.img {
    font-size: 16px;
    display: inline-block;
    margin-bottom: 8px;
    width: calc(50% - 4px);
    margin-right: 8px;
    height: 300px;
    width: 300px;
}

#mek {
    background-image: url(/Content/Images/foropen.jpg);
}

#erku {
    background-image: url('Images/home.jpg');
}

#ereq {
    background-image: url('Images/Z.jpg');
}



/* Preload images */
body:after {
    content: url(/Content/images/close.png) url(/Content/images/loading.gif) url(/Content/images/prev.png) url(/Content/images/next.png);
    display: none;
}

body.lb-disable-scrolling {
    overflow: hidden;
}

.lightboxOverlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: black;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
    display: none;
}

.lightbox {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 10000;
    text-align: center;
    line-height: 0;
    font-weight: normal;
}

    .lightbox .lb-image {
        display: block;
        height: auto;
        max-width: inherit;
        max-height: none;
        border-radius: 3px;
        /* Image border */
        border: 4px solid white;
    }

    .lightbox a img {
        border: none;
    }

.lb-outerContainer {
    position: relative;
    *zoom: 1;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border-radius: 4px;
    /* Background color behind image.
     This is visible during transitions. */
    background-color: white;
}

    .lb-outerContainer:after {
        content: "";
        display: table;
        clear: both;
    }

.lb-loader {
    position: absolute;
    top: 43%;
    left: 0;
    height: 25%;
    width: 100%;
    text-align: center;
    line-height: 0;
}

.lb-cancel {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 auto;
    background: url(/Content/images/loading.gif) no-repeat;
}

.lb-nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
}

.lb-container > .nav {
    left: 0;
}

.lb-nav a {
    outline: none;
    background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}

.lb-prev, .lb-next {
    height: 100%;
    cursor: pointer;
    display: block;
}

.lb-nav a.lb-prev {
    width: 34%;
    left: 0;
    float: left;
    background: url(/Content/images/prev.png) left 48% no-repeat;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    -o-transition: opacity 0.6s;
    transition: opacity 0.6s;
}

    .lb-nav a.lb-prev:hover {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1;
    }

.lb-nav a.lb-next {
    width: 64%;
    right: 0;
    float: right;
    background: url(/Content/images/next.png) right 48% no-repeat;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    -o-transition: opacity 0.6s;
    transition: opacity 0.6s;
}

    .lb-nav a.lb-next:hover {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1;
    }

.lb-dataContainer {
    margin: 0 auto;
    padding-top: 5px;
    *zoom: 1;
    width: 100%;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

    .lb-dataContainer:after {
        content: "";
        display: table;
        clear: both;
    }

.lb-data {
    padding: 0 4px;
    color: #ccc;
}

    .lb-data .lb-details {
        width: 85%;
        float: left;
        text-align: left;
        line-height: 1.1em;
    }

    .lb-data .lb-caption {
        font-size: 13px;
        font-weight: bold;
        line-height: 1em;
    }

        .lb-data .lb-caption a {
            color: #4ae;
        }

    .lb-data .lb-number {
        display: block;
        clear: left;
        padding-bottom: 1em;
        font-size: 12px;
        color: #999999;
    }

    .lb-data .lb-close {
        display: block;
        float: right;
        width: 30px;
        height: 30px;
        background: url(/Content/images/close.png) top right no-repeat;
        text-align: right;
        outline: none;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
        opacity: 0.7;
        -webkit-transition: opacity 0.2s -moz-transition: opacity 0.2s;
        -o-transition: opacity 0.2s;
        transition: opacity 0.2s;
    }

        .lb-data .lb-close:hover {
            cursor: pointer;
            filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
            opacity: 1;
        }

.padding {
    position: absolute;
    top: 0;
    z-index: 2;
    height: 20px;
}

    .padding > th {
        width: 17%;
    }

.btn {
    max-width: 280px;
    width: 200px;
    margin: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.23);
    border: none;
    border-radius: 20px;
    outline: 0;
}

    .btn:hover {
        background-color: rgba(148, 42, 44, 0.77);
    }

.anchor_tag {
    transition: all 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    display: inline-block;
    padding: 2px;
}

    .anchor_tag:hover {
        color: white;
        transform: scale(1.2);
        background-color: rgba(0, 0, 0, 0.23);
        border-radius: 20px;
    }

.form-control {
    max-width: 280px;
    width: 200px;
    margin: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.23);
    border: none;
    border-radius: 20px;
    outline: 0;
    padding: 5px;
}

.table_wrapper {
    position: relative;
}

.table_scroll {
    height: 597px;
    overflow: auto;
    margin-top: 20px;
}

.table_wrapper table {
    width: 100%;
}
